/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.rmv
/.rmv/logs
.rmv/logs/rocket_mv_basic_language_server.log
.rmv/logs/rocket_mv_basic_language_server
